# IntelliJ IDEA IDE
.idea

# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Files that contain credentials or personal info
.extra
.boto
.mrjob.conf
.s3cfg
.aws/

# Repo scratch directory
scratch/

.projectile
\#*
*~
.\#*

/tmp/**
/log/**
/doc/**
/lib/**
/storico_sorgenti/**
/data/**
.pylintrc
*.pyo
*.pyc
*.MAX
*.csv
*.txt
.project
.pydevproject
.ropeproject
*.log
*.gz
lock
*.swp
*.all
*.COB
.goutputstream*
*.pdf
*.xls
*bck*
*-*-*
*.*.*
*~
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
.key

bin/config.py
bin/mmfg_ws_config.py
bin/Common/logger.py
bin/facon/Common/logger.py
bin/tools_ascii_dev.py
html/images
html/javascripts/deform.js
html/javascripts/jquery.js
.idea/**
bin/ws/config_ws.py
.struttura
html/javascripts/firebug
bin/catalogo_sku_dd.py